header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 0.7vh 0;

  z-index: 3;
  background: rgb(21, 166, 238);
  background: linear-gradient(
    180deg,
    rgba(21, 166, 238, 1) 24%,
    rgba(104, 202, 200, 1) 100%
  );
}

.wrap-header {
  max-width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_main {
  cursor: pointer;
}

.h-it {
  display: inline-block;
  margin-left: 11vw;
}

.wrap-btn-nav {
  display: none;
}
.gnb-list {
}
.wrap-gnb {
  display: flex;
  margin-right: 15vw;
}

.gnb-list li {
  margin-left: 1.5vw;
  overflow: visible;
}
.gnb-list a {
  display: inline-block;
  padding: 10px;

  font-family: myriad-arabic, sans-serif;
  font-weight: 400;
  font-style: normal;

  color: white;
  font-size: 2.3vmin;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  font-style: normal;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .wrap-btn-nav {
    display: inline-block;
  }
  .gnb-list {
    position: absolute;
    top: 6.5vh;
    left: 0;
    width: calc(100%);
    z-index: 5;
    overflow: hidden;
  }

  .wrap-gnb {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    position: fixed;
    left: -100%;
    z-index: 0;
    background: #fff;
  }

  .wrap-gnb li {
    border-bottom: solid #000 1px;
    margin: 0;
  }

  .gnb-list a {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: black;
  }

  .nav-open {
  }

  .nav-open .wrap-gnb {
    /* transform: translateY(0); */
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 48px;
  }

  .icon_main {
    width: 125px;
  }

  .gnb-list {
    top: 48px;
  }
}
